flows.json
[{"id":"ab0f474.6cfecb8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b158c565.3390d8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5aab62ac.6e696c","type":"subflow","name":"Car Connection","info":"","category":"","in":[{"x":400,"y":180,"wires":[{"id":"ff687915.fe3538"}]}],"out":[{"x":680,"y":300,"wires":[{"id":"2d0716f7.fede9a","port":0}]}],"env":[{"name":"CAR_NUMBER","type":"num","value":""}],"color":"#DDAA99"},{"id":"22331074.06221","type":"ui_tab","name":"Car Control Center","icon":"dashboard","disabled":false,"hidden":false},{"id":"cfa0e7b0.ad1378","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#36535e","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#36535e","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#527e8f","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#36535e","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"IoT Experiments Wagon","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":20,"gy":20,"cx":6,"cy":6,"px":10,"py":10}}},{"id":"ea5c9be4.590798","type":"ui_spacer","name":"spacer","group":"f80f3b63.22ca08","order":1,"width":"2","height":"2"},{"id":"33cd84bd.26968c","type":"ui_spacer","name":"spacer","group":"f80f3b63.22ca08","order":3,"width":2,"height":"2"},{"id":"d2128975.c9a4b8","type":"ui_spacer","name":"spacer","group":"f80f3b63.22ca08","order":5,"width":"2","height":"2"},{"id":"77fec12c.cb79b","type":"ui_spacer","name":"spacer","group":"f80f3b63.22ca08","order":7,"width":"2","height":"2"},{"id":"66c8c986.e2dd98","type":"ui_spacer","name":"spacer","group":"f80f3b63.22ca08","order":9,"width":"2","height":"2"},{"id":"ae878d8f.8874d","type":"ui_group","name":"Steering Controls","tab":"22331074.06221","order":3,"disp":false,"width":3,"collapse":false},{"id":"2a1f3d56.2abf42","type":"ui_group","name":"Car Select","tab":"22331074.06221","order":1,"disp":true,"width":12,"collapse":false},{"id":"48ef566a.0a55b8","type":"ui_group","name":"Serial Monitor","tab":"22331074.06221","order":4,"disp":true,"width":"10","collapse":true},{"id":"43ac5830.2021f8","type":"mqtt-broker","name":"n56","broker":"mqtt.luytsm.be","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d988235d.c493d","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"504e4833.5f9d88","type":"ui_spacer","name":"spacer","group":"d988235d.c493d","order":1,"width":1,"height":1},{"id":"8206b632.7210d8","type":"ui_spacer","name":"spacer","group":"d988235d.c493d","order":1,"width":1,"height":1},{"id":"1ebe6305.3aa6ad","type":"ui_group","name":"LAB","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"435d299e.91f718","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"67dcf239.747c0c","type":"ui_group","name":"Other ","tab":"22331074.06221","order":5,"disp":true,"width":"6","collapse":false},{"id":"5731785c.5a03d8","type":"ui_spacer","name":"spacer","group":"ae878d8f.8874d","order":10,"width":"3","height":1},{"id":"986fc25e.c6973","type":"mqtt-broker","name":"","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"280fc39f.7f9edc","type":"ui_button","z":"ab0f474.6cfecb8","name":"N","group":"ae878d8f.8874d","order":2,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"mi-north","payload":"1","payloadType":"str","topic":"","x":410,"y":320,"wires":[["fbbfa6fe.1806f8"]]},{"id":"e1bb0cd2.fcf15","type":"ui_button","z":"ab0f474.6cfecb8","name":"E","group":"ae878d8f.8874d","order":6,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"mi-east","payload":"3","payloadType":"str","topic":"","x":410,"y":400,"wires":[["fbbfa6fe.1806f8"]]},{"id":"2d0716f7.fede9a","type":"mqtt in","z":"5aab62ac.6e696c","name":"","topic":"${CAR_NUMBER}","qos":"2","datatype":"auto","broker":"43ac5830.2021f8","x":490,"y":300,"wires":[[]]},{"id":"ff687915.fe3538","type":"mqtt out","z":"5aab62ac.6e696c","name":"","topic":"${CAR_NUMBER}","qos":"","retain":"","broker":"43ac5830.2021f8","x":600,"y":180,"wires":[]},{"id":"24390968.a2fd86","type":"ui_text_input","z":"ab0f474.6cfecb8","name":"Text Input","label":"","tooltip":"Typ je bericht hier","group":"48ef566a.0a55b8","order":2,"width":8,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":100,"y":100,"wires":[["22f688d0.66a418"]]},{"id":"40e2c60b.f81718","type":"ui_button","z":"ab0f474.6cfecb8","name":"Send Button","group":"48ef566a.0a55b8","order":3,"width":2,"height":1,"passthru":false,"label":"Send","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":680,"wires":[["137bd504.50654b"]]},{"id":"da86c604.202428","type":"mqtt in","z":"ab0f474.6cfecb8","name":"","topic":"car/#","qos":"2","datatype":"auto","broker":"43ac5830.2021f8","x":90,"y":40,"wires":[["7ac47cc.aec4284"]]},{"id":"2c51b5d3.4976da","type":"ui_text","z":"ab0f474.6cfecb8","group":"48ef566a.0a55b8","order":1,"width":10,"height":5,"name":"Textbox","label":"","format":"{{msg.payload}}","layout":"row-left","x":760,"y":40,"wires":[]},{"id":"319e6892.42b588","type":"ring-buffer","z":"ab0f474.6cfecb8","name":"","capacity":"13","order":"old-to-new","sendOnlyIfFull":false,"pushAfterClear":false,"extra":false,"perTopic":false,"x":440,"y":40,"wires":[["6004a310.62d45c"]]},{"id":"6004a310.62d45c","type":"template","z":"ab0f474.6cfecb8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n    {{.}}<br>\n{{/payload}}\n","output":"str","x":600,"y":40,"wires":[["2c51b5d3.4976da"]]},{"id":"137bd504.50654b","type":"change","z":"ab0f474.6cfecb8","name":"Send Text and Clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"text_input","tot":"flow"},{"t":"delete","p":"text_input","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":680,"wires":[["fbbfa6fe.1806f8"]]},{"id":"22f688d0.66a418","type":"change","z":"ab0f474.6cfecb8","name":"","rules":[{"t":"set","p":"text_input","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":100,"wires":[[]]},{"id":"6125fd3d.608fe4","type":"mqtt out","z":"ab0f474.6cfecb8","name":"Send to car","topic":"","qos":"","retain":"","broker":"43ac5830.2021f8","x":950,"y":280,"wires":[]},{"id":"fc506c0a.5fb84","type":"ui_dropdown","z":"ab0f474.6cfecb8","name":"","label":"","tooltip":"","place":"Select option","group":"2a1f3d56.2abf42","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Car #1","value":"car/1","type":"str"},{"label":"Car #2","value":"car/2","type":"str"},{"label":"Car #3","value":"car/3","type":"str"},{"label":"Car #4","value":"car/4","type":"str"},{"label":"Car #5","value":"car/","type":"str"},{"label":"Car #6","value":"car/6","type":"str"},{"label":"Car #7","value":"car/7","type":"str"},{"label":"Car #8","value":"car/8","type":"str"}],"payload":"","topic":"","x":100,"y":140,"wires":[["7276d610.ee0988"]]},{"id":"7276d610.ee0988","type":"change","z":"ab0f474.6cfecb8","name":"Set MQTT Car Topic","rules":[{"t":"set","p":"topic","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":140,"wires":[[]]},{"id":"65eed44d.2d01ac","type":"ui_switch","z":"ab0f474.6cfecb8","name":"Toggle Hefboom #1","label":"Toggle Hefboom #1","tooltip":"Toggle Hefboom #1","group":"67dcf239.747c0c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":720,"wires":[["967c6167.78dbf"]]},{"id":"98c601e7.f2966","type":"ui_button","z":"ab0f474.6cfecb8","name":"Prioritair Voertuig","group":"67dcf239.747c0c","order":3,"width":0,"height":0,"passthru":false,"label":"Priority Vehicle","tooltip":"","color":"","bgcolor":"","icon":"","payload":"11","payloadType":"num","topic":"","x":370,"y":640,"wires":[["fbbfa6fe.1806f8"]]},{"id":"967c6167.78dbf","type":"function","z":"ab0f474.6cfecb8","name":"Toggle to Command","func":"if (msg.payload) msg.payload = 9\nelse msg.payload = 10\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":720,"wires":[["fbbfa6fe.1806f8"]]},{"id":"9f9677b.8575888","type":"ui_button","z":"ab0f474.6cfecb8","name":"Stop","group":"ae878d8f.8874d","order":5,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"mi-stop","payload":"8","payloadType":"str","topic":"","x":410,"y":600,"wires":[["fbbfa6fe.1806f8"]]},{"id":"bf3a591a.c07eb8","type":"ui_button","z":"ab0f474.6cfecb8","name":"NW","group":"ae878d8f.8874d","order":1,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"mi-north_west","payload":"0","payloadType":"str","topic":"","x":410,"y":280,"wires":[["fbbfa6fe.1806f8"]]},{"id":"bd5ebcc2.29c79","type":"ui_button","z":"ab0f474.6cfecb8","name":"NE","group":"ae878d8f.8874d","order":3,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"mi-north_east","payload":"2","payloadType":"str","topic":"","x":410,"y":360,"wires":[["fbbfa6fe.1806f8"]]},{"id":"8e2664e1.6fc278","type":"ui_button","z":"ab0f474.6cfecb8","name":"SE","group":"ae878d8f.8874d","order":9,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"mi-south_east","payload":"4","payloadType":"str","topic":"","x":410,"y":440,"wires":[["fbbfa6fe.1806f8"]]},{"id":"c5b2bd64.390ab","type":"ui_button","z":"ab0f474.6cfecb8","name":"S","group":"ae878d8f.8874d","order":8,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"mi-south","payload":"5","payloadType":"str","topic":"","x":410,"y":480,"wires":[["fbbfa6fe.1806f8"]]},{"id":"4a484d9f.fa78d4","type":"ui_button","z":"ab0f474.6cfecb8","name":"SW","group":"ae878d8f.8874d","order":7,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"mi-south_west","payload":"6","payloadType":"str","topic":"","x":410,"y":520,"wires":[["fbbfa6fe.1806f8"]]},{"id":"5e63af8.31d2b5","type":"ui_button","z":"ab0f474.6cfecb8","name":"W","group":"ae878d8f.8874d","order":4,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"mi-west","payload":"7","payloadType":"str","topic":"","x":410,"y":560,"wires":[["fbbfa6fe.1806f8"]]},{"id":"375cf5f4.cfeaca","type":"ui_switch","z":"ab0f474.6cfecb8","name":"Toggle Hefboom #2","label":"Toggle Hefboom #2","tooltip":"Toggle Hefboom #2","group":"67dcf239.747c0c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":780,"wires":[["9ade16cd.3e9548"]]},{"id":"9ade16cd.3e9548","type":"function","z":"ab0f474.6cfecb8","name":"Toggle to Command","func":"if (msg.payload) msg.payload = 12\nelse msg.payload = 13\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":780,"wires":[["fbbfa6fe.1806f8"]]},{"id":"fbbfa6fe.1806f8","type":"change","z":"ab0f474.6cfecb8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"topic","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":280,"wires":[["6125fd3d.608fe4"]]},{"id":"7ac47cc.aec4284","type":"switch","z":"ab0f474.6cfecb8","name":"Filter on topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"topic","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":40,"wires":[["319e6892.42b588"]]},{"id":"cdd4479.d6ab8b8","type":"ui_slider","z":"ab0f474.6cfecb8","name":"Speed","label":"Speed","tooltip":"","group":"ae878d8f.8874d","order":11,"width":"3","height":"1","passthru":true,"outs":"end","topic":"","min":"25","max":"255","step":"5","x":410,"y":840,"wires":[["fbbfa6fe.1806f8"]]},{"id":"bc195f5a.7feda","type":"file","z":"b158c565.3390d8","name":"","filename":"Data ","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":830,"y":400,"wires":[["6797e95c.8e35b8"]]},{"id":"18d338b4.302b97","type":"inject","z":"b158c565.3390d8","name":"","props":[{"p":"timestamp","v":"","vt":"date"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":450,"y":400,"wires":[["37d74342.e72e5c"]]},{"id":"37d74342.e72e5c","type":"function","z":"b158c565.3390d8","name":"","func":"var count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":400,"wires":[["bc195f5a.7feda"]]},{"id":"6797e95c.8e35b8","type":"debug","z":"b158c565.3390d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":400,"wires":[]},{"id":"8800b651.5f9c68","type":"mqtt in","z":"b158c565.3390d8","name":"","topic":"actea-app/#","qos":"2","datatype":"auto","broker":"986fc25e.c6973","x":460,"y":700,"wires":[["deea7bbc.468088"]]},{"id":"deea7bbc.468088","type":"debug","z":"b158c565.3390d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":700,"wires":[]}]