flow.json
[
    {
        "id": "ab0f474.6cfecb8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5aab62ac.6e696c",
        "type": "subflow",
        "name": "Car Connection",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 400,
                "y": 180,
                "wires": [
                    {
                        "id": "ff687915.fe3538"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 300,
                "wires": [
                    {
                        "id": "2d0716f7.fede9a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "CAR_NUMBER",
                "type": "num",
                "value": ""
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "22331074.06221",
        "type": "ui_tab",
        "name": "Car #1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cfa0e7b0.ad1378",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#36535e",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#36535e",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#527e8f",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#36535e",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 20,
                "gy": 20,
                "cx": 6,
                "cy": 6,
                "px": 10,
                "py": 10
            }
        }
    },
    {
        "id": "ea5c9be4.590798",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f80f3b63.22ca08",
        "order": 1,
        "width": "2",
        "height": "2"
    },
    {
        "id": "33cd84bd.26968c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f80f3b63.22ca08",
        "order": 3,
        "width": 2,
        "height": "2"
    },
    {
        "id": "d2128975.c9a4b8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f80f3b63.22ca08",
        "order": 5,
        "width": "2",
        "height": "2"
    },
    {
        "id": "77fec12c.cb79b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f80f3b63.22ca08",
        "order": 7,
        "width": "2",
        "height": "2"
    },
    {
        "id": "66c8c986.e2dd98",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f80f3b63.22ca08",
        "order": 9,
        "width": "2",
        "height": "2"
    },
    {
        "id": "ae878d8f.8874d",
        "type": "ui_group",
        "name": "Steering Controls",
        "tab": "22331074.06221",
        "order": 2,
        "disp": false,
        "width": 3,
        "collapse": false
    },
    {
        "id": "2a1f3d56.2abf42",
        "type": "ui_group",
        "name": "Car Select",
        "tab": "22331074.06221",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "48ef566a.0a55b8",
        "type": "ui_group",
        "name": "Serial Monitor",
        "tab": "22331074.06221",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false
    },
    {
        "id": "43ac5830.2021f8",
        "type": "mqtt-broker",
        "name": "n56",
        "broker": "mqtt.luytsm.be",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d988235d.c493d",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "504e4833.5f9d88",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d988235d.c493d",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "8206b632.7210d8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d988235d.c493d",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "e97ae555.1afee8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ae878d8f.8874d",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "d1fbaa5.4c2df58",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ae878d8f.8874d",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "a5483082.b4f25",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ae878d8f.8874d",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "e9aaaa84.113e98",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ae878d8f.8874d",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "61d5d25b.0d064c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ae878d8f.8874d",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "1ebe6305.3aa6ad",
        "type": "ui_group",
        "name": "LAB",
        "tab": "",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "435d299e.91f718",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "280fc39f.7f9edc",
        "type": "ui_button",
        "z": "ab0f474.6cfecb8",
        "name": "Up",
        "group": "ae878d8f.8874d",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "mi-keyboard_arrow_up",
        "payload": "up",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "f0ed363f.431ca8"
            ]
        ]
    },
    {
        "id": "e1bb0cd2.fcf15",
        "type": "ui_button",
        "z": "ab0f474.6cfecb8",
        "name": "Down",
        "group": "ae878d8f.8874d",
        "order": 8,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "mi-keyboard_arrow_down ",
        "payload": "down",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "f0ed363f.431ca8"
            ]
        ]
    },
    {
        "id": "a9cc20c1.474ab",
        "type": "ui_button",
        "z": "ab0f474.6cfecb8",
        "name": "Left",
        "group": "ae878d8f.8874d",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "mi-keyboard_arrow_left",
        "payload": "left",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "f0ed363f.431ca8"
            ]
        ]
    },
    {
        "id": "92b5d1b5.f2fd9",
        "type": "ui_button",
        "z": "ab0f474.6cfecb8",
        "name": "Right",
        "group": "ae878d8f.8874d",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "mi-keyboard_arrow_right",
        "payload": "right",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "f0ed363f.431ca8"
            ]
        ]
    },
    {
        "id": "2d0716f7.fede9a",
        "type": "mqtt in",
        "z": "5aab62ac.6e696c",
        "name": "",
        "topic": "${CAR_NUMBER}",
        "qos": "2",
        "datatype": "auto",
        "broker": "43ac5830.2021f8",
        "x": 490,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ff687915.fe3538",
        "type": "mqtt out",
        "z": "5aab62ac.6e696c",
        "name": "",
        "topic": "${CAR_NUMBER}",
        "qos": "",
        "retain": "",
        "broker": "43ac5830.2021f8",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "24390968.a2fd86",
        "type": "ui_text_input",
        "z": "ab0f474.6cfecb8",
        "name": "Textbox ",
        "label": "",
        "tooltip": "Typ je bericht hier",
        "group": "48ef566a.0a55b8",
        "order": 2,
        "width": 10,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 100,
        "y": 440,
        "wires": [
            [
                "22f688d0.66a418"
            ]
        ]
    },
    {
        "id": "40e2c60b.f81718",
        "type": "ui_button",
        "z": "ab0f474.6cfecb8",
        "name": "Send Button",
        "group": "48ef566a.0a55b8",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Send",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "137bd504.50654b"
            ]
        ]
    },
    {
        "id": "da86c604.202428",
        "type": "mqtt in",
        "z": "ab0f474.6cfecb8",
        "name": "",
        "topic": "car/1",
        "qos": "2",
        "datatype": "auto",
        "broker": "43ac5830.2021f8",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "319e6892.42b588"
            ]
        ]
    },
    {
        "id": "2c51b5d3.4976da",
        "type": "ui_text",
        "z": "ab0f474.6cfecb8",
        "group": "48ef566a.0a55b8",
        "order": 1,
        "width": "10",
        "height": "5",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 550,
        "y": 40,
        "wires": []
    },
    {
        "id": "f0ed363f.431ca8",
        "type": "mqtt out",
        "z": "ab0f474.6cfecb8",
        "name": "",
        "topic": "car/1",
        "qos": "",
        "retain": "",
        "broker": "43ac5830.2021f8",
        "x": 360,
        "y": 180,
        "wires": []
    },
    {
        "id": "319e6892.42b588",
        "type": "ring-buffer",
        "z": "ab0f474.6cfecb8",
        "name": "",
        "capacity": "13",
        "order": "old-to-new",
        "sendOnlyIfFull": false,
        "pushAfterClear": false,
        "extra": false,
        "perTopic": false,
        "x": 240,
        "y": 40,
        "wires": [
            [
                "6004a310.62d45c"
            ]
        ]
    },
    {
        "id": "6004a310.62d45c",
        "type": "template",
        "z": "ab0f474.6cfecb8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{#payload}}\n    {{.}}<br>\n{{/payload}}\n",
        "output": "str",
        "x": 400,
        "y": 40,
        "wires": [
            [
                "2c51b5d3.4976da"
            ]
        ]
    },
    {
        "id": "137bd504.50654b",
        "type": "change",
        "z": "ab0f474.6cfecb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "text_input",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 320,
        "wires": [
            [
                "f0ed363f.431ca8"
            ]
        ]
    },
    {
        "id": "22f688d0.66a418",
        "type": "change",
        "z": "ab0f474.6cfecb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "text_input",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 440,
        "wires": [
            []
        ]
    }
]
